/* General settings 
============================================================*/

/* font-family: 'Lato', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  font-size: 62.5%;
}

.header-content {
  background-color: #7477bf;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2%;
}

.h1 {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 2%;
}

.h1-app {
  font-weight: 300;
}

.header__bell-container {
  margin-left: 10%;
  padding-left: 2%;
  display: inline-flex;
}

.header__bell-img {
  width: 20px;
}

.header__bell-img:hover {
  background-color: black;
  transition-duration: 0.2s;
  border-radius: 50%;
  cursor: pointer;
}

.header__bell-notifications {
  background-color: #90ee90;
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 10px;
  border-radius: 50%;
  /* visibility: hidden; */
}

.header__bell-notifications--hidden {
  visibility: hidden;
}

.header__img-container {
  border-left: 1px solid #9d9fbc;
  padding-left: 2%;
}

.header__img {
  border-radius: 50%;
  width: 30px;
}

.header__h3 {
  font-weight: 300;
  font-size: 1.5rem;
}

.navigation-content {
  background-color: #4d4c72;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3% 10%;
}

.nav__img {
  width: 30px;
}

.main-header {
  display: flex;
}

.headline {
  flex-basis: 35%;
  padding: 5%;
  font-weight: 400;
  font-size: 2rem;
}

.tab {
  flex-basis: 65%;
  border-left: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  background-color: #f7f7f7;
}

/* Alert Notifications
================================================================== */

.alert {
  background-color: #7477bf;
  margin: 5%;
  border-radius: 5px;
  color: white;
  padding: 2% 5%;
  font-size: 1.5rem;
  font-weight: 100;
}

.alert-banner {
  display: flex;
  justify-content: space-between;
}

.alert-text--bold {
  font-weight: 300;
}

.alert-banner--close {
  font-weight: 300;
}

.alert-banner--close:hover {
  cursor: pointer;
}

.alert-banner--fading {
  opacity: 0;
  transition: opacity 2s linear;
}

/* Chart Widget
=============================================================================== */

.traffic,
.daily,
.mobile,
.social,
.new-members,
.recent-activity,
.message,
.settings {
  border-bottom: 1px solid #cccccc;
  padding: 0 5% 4%;
  font-size: 1.5rem;
  font-weight: 300;
}

.section__h3 {
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 3%;
}

.traffic-nav {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  padding: 2% 0;
}

.traffic-nav-link {
  list-style: none;
  width: 80px;
  padding: 2%;
  text-align: center;
}

.active {
  background-color: #81c98f;
  border-radius: 20px 20px;
  color: white;
}

.widget-container-full,
.widget-container-half {
  padding: 5%;
}

.widget-container-half {
  margin-top: 5%;
}

/* Social Stats
=================================================================== */

.social-container {
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  margin: 5% 0 1%;
  padding: 5%;
  display: flex;
  align-items: center;
  color: #7477bf;
  font-weight: 400;
  /* font-size: 2.5rem; */
  border-radius: 10px;
}

.social-image {
  border: 15px solid #7477bf;
  /* background-color: #7477bf; */
  border-radius: 50%;
}

.social-icon {
  width: 40px;
  fill: white;
  background-color: #7477bf;
  margin-bottom: -15%;
}

.social-text {
  margin-left: 9%;
  font-size: 2rem;
}

.social-text--name {
  margin-bottom: -10%;
}

.social-text--digits {
  font-size: 4rem;
  color: #787878;
  font-weight: 300;
}

/* New members
===================================================================== */

/* .new-members {
     border: 1px solid #cccccc; 
} 
*/
.members-container {
  border-bottom: 1px solid #cccccc;
  padding: 5%;
  font-size: 1.5rem;
  line-height: 1.1;
}

.members-container--last {
  border: none;
}

.member__img {
  width: 70px;
  border-radius: 50%;
}

.members-text,
.members-container,
.recent-activity--text,
.widget-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.members-text,
.recent-activity--text {
  padding-top: 2%;
}

.member__e-mail {
  color: #7477bf;
}

/* Recent activity
================================================================== */

.recent-activity__container {
  padding-bottom: 0;
}

.recent-activity--text {
  font-size: 1.5rem;
}

.recent-activity--top-text {
  text-align: center;
}

.recent-activity__text--bold {
  font-weight: 700;
}

.arrow {
  visibility: hidden;
}

/* Messaging
==================================================================== */

.message {
  padding-bottom: 2%;
}

.widget-container {
  padding-top: 5%;
}

.message-form__input,
.message-form__textarea,
.message-form__button,
.form-field,
.button-primary,
.button-disabled {
  width: 100%;
  margin-bottom: 5%;
  padding: 5%;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-weight: 300;
}

.message-form__textarea {
  height: 150px;
}

.message-form__button,
.button-primary,
.button-disabled {
  background-color: #7477bf;
  color: #fff;
  text-transform: uppercase;
}

.message__results {
  width: 250px;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  padding: 5%;
  margin-top: -20px;
  text-align: left;
}

.message__results-ul {
  list-style: none;
}

.message__results-ul li {
  cursor: pointer;
}

/* Settings
===================================================================== */

.settings {
  border-bottom: none;
}

.checkboxes,
.settings-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0;
}

.settings__switch {
  width: 90px;
}

.form-field {
  appearance: none;
  /* -moz-appearance: none; */
  /* -webkit-appearance: none; */
  background-image: linear-gradient(45deg, transparent 50%, #7477bf 50%), linear-gradient(135deg, #7477bf 50%, transparent 50%), radial-gradient(10px at center, rgba(155, 152, 152, 0.5), transparent 50%);

  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;

  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

.settings-button {
  margin: 0;
}

.button-primary,
.button-disabled {
  width: 48%;
}

.button-disabled {
  background-color: #999999;
}

/* Grid layout
===================================================================== */

/* .temporary {
  width: 300px;
} */

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'navigation'
    'main';
}

.header {
  grid-area: header;
}

.navigation {
  grid-area: navigation;
}

.main {
  grid-area: main;
  display: grid;
}

.widget-container-full,
.widget-container-half {
  width: 95vw;
}

/* ==================================================================
  @media 768px for iPad
===================================================================== */

@media (min-width: 768px) {
  .h1 {
    margin-right: 40%;
  }

  .header__img {
    width: 50px;
  }

  .navigation-content {
    display: block;
    text-align: center;
  }

  .nav__img {
    margin: 25% 0;
    padding: 4% 0;
  }

  .nav__img--first {
    margin-top: 50%;
  }

  .headline {
    flex-basis: 20%;
    padding: 2%;
    padding-left: 5%;
  }

  .tab {
    flex-basis: 80%;
  }

  /* Chart-widget
  ---------------------------------------------------------------- */

  .traffic {
    padding-bottom: 0;
  }

  .traffic-header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* align-content: center; */
  }

  .traffic-nav {
    padding-right: 2%;
    padding-bottom: 0;
  }

  .daily {
    border-right: 1px solid #cccccc;
  }

  .daily,
  .mobile {
    padding: 0 10% 4%;
  }

  .widget-container-half {
    padding: 0 15% 0 0;
  }

  /* Social
  ---------------------------------------------------------------- */
  .social {
    padding-bottom: 2%;
  }

  .social-items-container {
    display: flex;
    justify-content: space-between;
  }

  .social-container {
    border-radius: 5px;
    margin: 2% 1% 1% 0;
    padding: 1% 2.5%;
    align-items: center;
  }

  .social-icon {
    width: 30px;
    margin-bottom: -20%;
  }

  .social-text {
    font-size: 2rem;
    margin-right: 1.5rem;
  }

  .social-text--name {
    margin-bottom: -10%;
  }

  .social-text--digits {
    font-size: 3.5rem;
  }

  /* New-members
  ---------------------------------------------------------------- */

  .members-container {
    padding: 2% 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .members-text {
    width: 40%;
    align-items: flex-start;
    margin-right: 200px;
  }

  .members-container--last {
    padding-bottom: 0;
  }

  /* Recent-activity
  ---------------------------------------------------------------- */
  .recent-activity {
    padding-bottom: 2%;
  }

  .recent-activity__container {
    padding: 2% 0;
  }

  .recent-activity--text {
    width: 90%;
    display: flex;
    align-items: flex-start;
    margin-left: 4%;
  }

  .arrow {
    visibility: visible;
    font-size: 3rem;
    font-weight: 100;
  }

  /* Message
  ---------------------------------------------------------------- */

  .message-form__input {
    margin-bottom: 0;
  }

  .message-form__button,
  .button-disabled,
  .button-primary,
  .form-field {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  /* Settings
  ---------------------------------------------------------------- */

  .settings {
    border-bottom: none;
    padding-bottom: 0;
  }

  .checkboxes {
    justify-content: flex-start;
  }

  .settings__text {
    width: 25%;
    margin-right: 5%;
  }

  /* Grid layout
  ---------------------------------------------------------------- */

  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      'header header'
      'navigation main';
  }

  .main {
    grid-template-columns: 50%;
  }

  .main-header,
  .alert,
  .traffic,
  .social,
  .new-members,
  .recent-activity,
  .message,
  .settings {
    grid-column: 1 / span 2;
  }

  .daily {
    grid-column: 1 / span 1;
  }

  .mobile {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}

/* ==================================================================
  @media 1024px for iPad Pro and Desktop
===================================================================== */

@media (min-width: 1024px) {
  .headline {
    flex-basis: 10%;
    padding: 1%;
    padding-left: 2.5%;
    padding-right: 2%;
  }

  .tab {
    flex-basis: 90%;
  }

  /* Alert
  ------------------------------------------------------------------ */

  .alert {
    margin: 2.5%;
    padding: 1% 2%;
  }

  /* Chart-widget
  ---------------------------------------------------------------- */
  /* Social
  ---------------------------------------------------------------- */

  .social {
    padding: 2.5%;
  }

  .social-icon {
    width: 25px;
    margin-bottom: -25%;
  }

  .social-text {
    font-size: 1.5rem;
    margin-right: 9rem;
  }

  /* New-members
  ---------------------------------------------------------------- */
  .new-members,
  .message {
    border-right: 1px solid #cccccc;
  }

  .members-text {
    width: 40%;
    align-items: flex-start;
    margin-right: 100px;
  }

  /* Recent-activity
  ---------------------------------------------------------------- */

  .recent-activity--top-text {
    text-align: left;
  }

  /* Message
  ---------------------------------------------------------------- */

  /* Settings
  ---------------------------------------------------------------- */

  .checkboxes--bottom {
    margin-top: 10%;
    margin-bottom: 18%;
  }

  .settings__text {
    width: 40%;
  }

  .form-field {
    padding-top: 4%;
    padding-bottom: 4%;
  }

  /* Grid layout
  ---------------------------------------------------------------- */

  .new-members,
  .message {
    grid-column: 1 / span 1;
  }

  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }
}